.prizes-section {
  background-color: #110b20;
  padding-block: 9rem;
  position: relative;
}

.prizes__heading {
  width: 50%;
  margin-left: auto;
  margin-bottom: 5vw;

  & > p {
    margin-top: 1.6rem;
    font-size: 1.8rem;
  }
}

.rewards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 3rem;
  justify-items: center;
  row-gap: 8vw;
}

.gradient__border-btn {
  padding-inline: clamp(3rem, 5vw, 7rem);
  padding-block: clamp(0.85rem, 2vh, 1.7rem);
  position: relative;
  margin-top: 2rem;
  border-image-slice: 1;
  border-width: 2.5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 10px;
  background: transparent;
  color: var(--clr-white);
}

/* 829px and below */
@media screen and (max-width: 51.8125em) {
  .prizes__heading {
    width: 100%;
    text-align: center;
    margin-inline: auto;

    & > p {
      width: min(100%, 39ch);
      margin-inline: auto;
    }
  }
}
