.register-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding-block: 6rem;
  column-gap: 2rem;
  row-gap: 3.5rem;
  align-items: center;
}

.heading-hidden {
  display: none;
}

.register {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-block: 5rem;
  padding-inline: 6rem;
}
.register h2 {
  margin-bottom: 2.9rem;
  text-align: left;
}
.register > div {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  & > p {
    transform: translateY(5px);
  }
}

.register__form--title {
  margin-bottom: 3rem;
  font-size: 2.2rem;
}

.register__form--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 225px), 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.register__form input {
  color: var(--clr-white);
}
.register__form input:not([type="checkbox"]) {
  width: 100%;
  border-radius: 4px;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-block: 1.5rem;
  padding-inline: 1rem;
  font-size: 1.4rem;

  &::placeholder {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.25);
  }
}

.register__form label {
  font-size: 14px;
  margin-bottom: 0.8rem;
  display: block;
}

.register__form select {
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: 1.2rem;
  border: none;
  color: var(--clr-white);
  border-radius: 4px;
  border: 1px solid var(--clr-white);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.register__form select:focus {
  background: #ffffff08;
}

.register__form select option {
  color: var(--clr-purple);
  padding: 2rem;

  cursor: pointer;
}
.review {
  color: var(--clr-pink);
  font-size: 1.2rem;
  margin-top: 2.3rem;
  font-style: italic;
}

.register__form--check {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 1.6rem;
}
.register__form--check label {
  font-size: 1.2rem !important;
}

.register__form--check label {
  margin: 0;
}

.register__form button {
  display: block;
  width: 100%;
  width: min(100%, 600px);
  margin-inline: auto !important;
}

.register__image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register__image h2 {
  align-self: flex-start;
}

/* 1100px and under */
@media screen and (max-width: 68.75em) {
  .register-section {
    grid-template-columns: 1fr;
    padding-block: 8rem;
  }

  .register-section .three-d {
    justify-self: center;
    max-width: 27rem;
  }
  .register__form--grid {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 225px), 1fr));
  }
}

/* Under 500px */
@media screen and (max-width: 31.25em) {
  .register {
    padding-inline: 4rem;
    background: none;
    box-shadow: none;
    padding: 1rem;
  }
  .register h2 {
    display: none;
  }

  .heading-hidden {
    display: block;
    text-align: left;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  .register-section {
    padding-block: 0;
    padding-bottom: 8rem;
  }
}
